@page
@model MASOG_OBRAS.Pages.Clientes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.DNI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.DNI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Correo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.Id">Editar</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
