@page

@model MASOG_OBRAS.Pages.Inventarios.Productos.IndexModel

@{ ViewData["Title"] = "Index"; }

<h1>Lista de Productos</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Nuevo Producto</a>
</p>

<!-- Campo de Búsqueda ID -->

@*<form action="Productos/Details" method="get">
        <div class="form-group row align-items-end">
            <div class="col-2">
                <label for="inputId">Buscar por ID</label>
                <input type="text" class="form-control" id="inputId" name="id" required>
            </div>
            <div class="col-10">
                <button type="submit" value="Search" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>*@

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar por ID o Descripción:&nbsp;
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Volver a la Lista Completa</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Descripcion
                @*<a asp-page="./Index" asp-route-sortOrder="@Model.DescriptionSort">
                        Descripcion
                    </a>*@

            </th>
            <th>
                Precio
                @*<a asp-page="./Index" asp-route-sortOrder="@Model.PrecioSort">
                        Precio
                    </a>*@

            </th>
            <th>
                Observacion
            </th>
            <th>
                Activo
            </th>
            <th>
                Operaciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Id)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>

                    @if (item.Activo)
                    {
                        <span class="span-activo">Activo</span>
                    }
                    else
                    {
                        <span class="span-no-activo">No activo</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Productos.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Productos.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Productos.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Productos.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>



@*<div class="row justify-content-end">
        <div class="col-1">
            @if (Model.HasPrevious())
            {
                <a asp-page="./Index" asp-route-pageNumber="@(Model.CurrentPage -1)">Anterior</a>}
        </div>
        <div class="col-1">
            @if (Model.HasNext())
            {
                <a asp-page="./Index" asp-route-pageNumber="@(Model.CurrentPage + 1)">Siguiente</a>}
        </div>
    </div>*@