@page
@model MASOG_OBRAS.Pages.Clientes.Proyectos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar este proyecto?</h3>
<div>
    <h4>Proyecto</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Observacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Proyecto.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
