@page
@model MASOG_OBRAS.Pages.Clientes.Proyectos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.ClienteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.Observacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Proyecto.Id">Editar</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
