@page
@model MASOG_OBRAS.Pages.Inventarios.MovsStock.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-4">
                <h2>Nuevo Movimiento de Stock</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="MovStock.Fecha" class="control-label"></label>
                        <input asp-for="MovStock.Fecha" class="form-control" disabled="@Model.HasHeader" />
                        <span asp-validation-for="MovStock.Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label class="control-label">Tipo de Movimiento</label>
                        <select class="form-control" disabled="@Model.HasHeader" asp-for="TipoMovimientoId" asp-items="@ViewData["TipoMovimientoId"] as SelectList">
                            <option value="" selected disabled hidden>Seleccione un tipo de movimiento</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label class="control-label">Depósito</label>
                        <select class="form-control" disabled="@Model.HasHeader" asp-for="DepositoId" asp-items="@ViewData["DepositoId"] as SelectList">
                            <option value="" selected disabled hidden>Seleccione un depósito</option>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="dataProyecto" class="control-label">Proyecto</label>
                        <select id="dataProyecto" class="form-control" disabled="@Model.HasHeader" asp-for="ProyectoId" asp-items="@ViewData["ProyectoId"] as SelectList">
                            <option value="-1" selected hidden>Seleccione un proyecto</option>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="dataProveedor" class="control-label">Proveedor</label>
                        <select id="dataProveedor" class="form-control" disabled="@Model.HasHeader" asp-for="ProveedorId" asp-items="@ViewData["ProveedorId"] as SelectList">
                            <option value="-1" selected hidden>Seleccione un proveedor</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        <label asp-for="MovStock.Observacion" class="control-label">Observación</label>
                        <input asp-for="MovStock.Observacion" class="form-control" disabled="@Model.HasHeader" />
                        <span asp-validation-for="MovStock.Observacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <input type="submit" class="btn btn-primary" asp-page-handler="Header" value="Confirmar" disabled="@Model.HasHeader" />
                    </div>
                </div>
                <div class="row mt-2">
                    @if (Model.MessageError != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @Model.MessageError
                        </div>
                    }
                </div>
            </form>
            @if (Model.HasHeader)
            {
                @if (Model.HasProductList)
                {
                    <form method="post" class="mb-4">
                        <h2> Lista de Productos</h2>
                        <div class="row">
                            <div class="form-group col-4">
                                <select id="dataProducto" asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                            </div>
                            <div class="form-group col-4">
                                <input type="submit" value="Consultar Producto" class="btn btn-primary align-self-end" asp-page-handler="Product" />
                            </div>
                        </div>
                    </form>
                    @if (Model.HasProduct)
                    {
                        <div class="row">
                            <div class="col-12">
                                <form method="post" class="mb-4">
                                    <div class="form-group">
                                        <h3>Producto</h3>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Producto.Id" class="control-label">Descripción</label>
                                                        <input asp-for="Producto.Id" class="form-control" disabled />
                                                    </td>
                                                    <td>
                                                        <label asp-for="Producto.Descripcion" class="control-label">Descripción</label>
                                                        <input asp-for="Producto.Descripcion" class="form-control" disabled />
                                                    </td>
                                                    <td>
                                                        <label asp-for="MovStockItem.Cantidad" class="control-label">Cantidad</label>
                                                        <input asp-for="MovStockItem.Cantidad" class="form-control" />
                                                        <span asp-validation-for="MovStockItem.Cantidad" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <label asp-for="MovStockItem.Observacion" class="control-label">Observación(*)</label>
                                                        <input asp-for="MovStockItem.Observacion" class="form-control" />
                                                        <span asp-validation-for="MovStockItem.Observacion" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <p style="font-size:66.7%;"> - </p>
                                                        <input asp-for="MovStockItem.ProductoId" class="form-control" hidden />
                                                        <input type="submit" value="Agregar Producto" class="btn btn-primary" asp-page-handler="AddItem" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-12">
                        <form method="post" class="mb-4">
                            <div class="form-group">
                                @if (Model.HasMovStockItems)
                                {
                                    <h2>Productos del movimiento</h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MovStockItem.ProductoId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.MovStockItem.Cantidad)
                                                </th>
                                                <th></th>
                                                <th>
                                                    Observación
                                                </th>
                                                <th>
                                                    Eliminar producto
                                                </th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.MovStockItems)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        @item.ProductoId
                                                    </td>
                                                    <td>
                                                        @item.Cantidad
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        @item.Observacion
                                                    </td>
                                                    <td>
                                                        <input type="submit" value="Eliminar" class="btn btn-danger" asp-page-handler="RemoveItem" asp-route-id="@item.ProductoId" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                }
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <form method="post">
                        <div class="row">
                            <div class="col-3">
                                @if (Model.MessageError != null)
                                {
                                    <div class="alert alert-warning" role="alert">
                                        @Model.MessageError
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <a asp-page="Index" class="btn btn-danger">Cancelar</a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" asp-page-handler="SaveOrder" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {

            //agrega Select2 al dropdown Proyecto
            $('#dataProyecto').select2({
                theme: "bootstrap4",
                language: "es",
                // minimumInputLength: 2
            });

            //agrega Select2 al dropdown Proveedor
            $('#dataProveedor').select2({
                //theme: "classic",
                theme: "bootstrap4",
                language: "es",
                // minimumInputLength: 2
            });

        });
    </script>
}