@page
@model MASOG_OBRAS.Pages.Reportes.Ingresos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ingresos</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <h4>Filtros</h4>
        <p>
            Cliente:&nbsp;
            <input type="search" name="SearchString" value="@Model.CurrentFilter" /> &nbsp; | &nbsp;
            Producto:
            <input type="search" name="SearchString2" value="@Model.CurrentFilter2" /> &nbsp; <br />
            Fecha desde:
            <input type="date" name="SearchDateFrom" value="@Model.DateFilterFrom" /> &nbsp; | &nbsp;
            Fecha hasta:
            <input type="date" name="SearchDateTo" value="@Model.DateFilterTo" /> &nbsp; | &nbsp;
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Volver a la Lista Completa</a>
        </p>
    </div>
</form>

<div class=" row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                                    Fecha
                                </a>
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.CustomerName">
                                    Nombre
                                </a>                             
                            </th>
                            <th>
                                Factura
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.ProductID">
                                    Producto
                                </a>
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.ProductDescription">
                                    Descripción
                                </a>                              
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RecibosDet)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRecibo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClienteId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClienteNombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FacturaVentaNumero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductoId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductoDescripcion)
                            </td>
                            <td align="right">
                                @string.Format("{0:C2}", @item.Total)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.RecibosDet.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.RecibosDet.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.RecibosDet.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-currentFilter2="@Model.CurrentFilter2"
   asp-route-dateFilterFrom="@Model.DateFilterFrom"
   asp-route-dateFilterTo="@Model.DateFilterTo"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.RecibosDet.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-currentFilter2="@Model.CurrentFilter2"
   asp-route-dateFilterFrom="@Model.DateFilterFrom"
   asp-route-dateFilterTo="@Model.DateFilterTo"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>
