@page
@model MASOG_OBRAS.Pages.Ventas.Recibos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Recibo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recibo.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recibo.FechaEmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recibo.FechaEmision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recibo.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recibo.Observacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recibo.Total)
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:C2}", Model.Recibo.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recibo.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recibo.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recibo.ConceptoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recibo.ConceptoPago.Descripcion)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReciboItems[0].FacturaVenta.PuntoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciboItems[0].FacturaVenta.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReciboItems[0].Importe)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReciboItems)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.FacturaVenta.PuntoVenta)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.FacturaVenta.Numero)
                </th>
                <td>
                    @string.Format("{0:C2}", item.Importe)
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Delete" asp-route-id="@Model.Recibo.Id">Eliminar</a> |
    <a asp-page="./Index">Regresar a la Lista</a>
</div>
