@page
@model MASOG_OBRAS.Pages.Reportes.IngresosVsEgresos.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Resumen Ingresos y Egresos</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <h4>Filtros</h4>
        <p>
            Año:
            <input type="search" name="SearchDateFrom" value="@Model.DateFilterAño" /> &nbsp; | &nbsp;
            Mes:
            <input type="search" name="SearchDateTo" value="@Model.DateFilterMes" /> &nbsp; | &nbsp;
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Volver a la Lista Completa</a>
        </p>
    </div>
</form>

<div class=" row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.SortAño">
                                    Año
                                </a>
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.SortMes">
                                    Mes
                                </a>
                            </th>
                            <th>
                                Ingresos
                            </th><th></th>
                            <th>
                                Egresos
                            </th><th></th>
                            <th>
                                Balance
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comparativo)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Año)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mes)
                                </td>
                                <td align="right">
                                    @string.Format("{0:C2}", @item.Ingresos)
                                </td><td></td>
                                <td align="right">
                                    @string.Format("{0:C2}", @item.Egresos)
                                </td><td></td>
                                <td align="right">
                                    @string.Format("{0:$#,##0.00}", item.Ingresos - item.Egresos)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.Comparativo.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Comparativo.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Comparativo.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-dateFilterFrom="@Model.DateFilterAño"
   asp-route-dateFilterTo="@Model.DateFilterMes"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Comparativo.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-dateFilterFrom="@Model.DateFilterAño"
   asp-route-dateFilterTo="@Model.DateFilterMes"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>
