@page
@model MASOG_OBRAS.Pages.Proveedores.Proveedores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.RazonSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.RazonSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.CUIT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.CUIT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Observacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Proveedor.Id">Editar</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
