@page
@model MASOG_OBRAS.Pages.Inventarios.Depositos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Depósito</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposito.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposito.Id)
        </dd>
        <dt cla
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposito.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposito.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposito.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposito.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Deposito.Id">Editar</a> |
    <a asp-page="./Index">Volver al listado</a>
</div>
