@page
@model MASOG_OBRAS.Pages.Compras.Facturas.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-4">
                <h2>Nueva factura</h2>
                <div class="row">
                    <div class="form-group col-3">
                        <label class="control-label">Seleccione proveedor</label>
                        <select id="ddProveedores" asp-for="ProveedorId" class="form-control" asp-items="@ViewData["ProveedorId"] as SelectList" disabled="@Model.HasProveedor"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        <label asp-for="FacturaCompra.PuntoVenta" class="control-label"></label>
                        <input asp-for="FacturaCompra.PuntoVenta" class="form-control" disabled="@Model.HasProveedor" />
                        <span asp-validation-for="FacturaCompra.PuntoVenta" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="FacturaCompra.Numero" class="control-label"></label>
                        <input asp-for="FacturaCompra.Numero" class="form-control" disabled="@Model.HasProveedor" />
                        <span asp-validation-for="FacturaCompra.Numero" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-3">
                        <label asp-for="FacturaCompra.TipoFactura" class="control-label"></label>
                        <input asp-for="FacturaCompra.TipoFactura" class="form-control" disabled="@Model.HasProveedor" />
                        <span asp-validation-for="FacturaCompra.TipoFactura" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="FacturaCompra.FechaFactura" class="control-label"></label>
                        <input asp-for="FacturaCompra.FechaFactura" class="form-control" disabled="@Model.HasProveedor" />
                        <span asp-validation-for="FacturaCompra.FechaFactura" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="FacturaCompra.FechaAlta" class="control-label"></label>
                        <input asp-for="FacturaCompra.FechaAlta" class="form-control" disabled="@Model.HasProveedor" />
                        <span asp-validation-for="FacturaCompra.FechaAlta" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-9">
                        <label asp-for="FacturaCompra.Observacion" class="control-label">Observación</label>
                        <input asp-for="FacturaCompra.Observacion" class="form-control" disabled="@Model.HasProveedor" />
                        <span asp-validation-for="FacturaCompra.Observacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirmar proveedor" class="btn btn-primary" asp-page-handler="Proveedor" disabled="@Model.HasProveedor" />
                </div>
                @if (Model.MessageError != null)
                {
                    <div class="alert alert-warning">
                        @Model.MessageError
                    </div>
                }
            </form>
            @if (Model.HasOrden)
            {
                <form method="post" class="mb-4">
                    <h2>Orden de compra</h2>
                    <div class="row">
                        <div class="form-group col-4">
                            <select id="ddOrdenes" asp-for="OrdenId" class="form-control" asp-items="@ViewData["OrdenId"] as SelectList"></select>
                        </div>
                        <div class="form-group col-4">
                            <input type="submit" value="Consultar Orden" class="btn btn-primary" asp-page-handler="Orden" />
                        </div>
                    </div>
                </form>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-4">
                <div class="form-group">
                    @if (Model.HasOrdenItem)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID del Producto
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Observación
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.OrdenItems)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @item.ProductoId
                                        </td>
                                        <td>
                                            @item.Cantidad
                                        </td>
                                        <td align="right">
                                            @string.Format("{0:C2}", item.Precio) &nbsp; &nbsp; &nbsp;
                                        </td>
                                        <td>
                                            @item.Observacion
                                        </td>
                                    </tr>
                                </tbody>
                            }
                            <tfoot>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td align="right">
                                        TOTAL:&nbsp;&nbsp; @string.Format("{0:C2}", Model.Total) &nbsp;
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <a asp-page="Index" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                    @if (Model.HasOrdenItem)
                    {
                        <div class="col-3">
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" asp-page-handler="SaveFactura" />
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

    $('#ddProveedores').on('change', function () {
        // Save value in localstorage
        localStorage.setItem("#ddProveedores", $(this).val());
    });

    $(document).ready(function () {
        //Guardar datos despues del refresco
        if ($('#ddProveedores').length) {
            $('#ddProveedores').val(localStorage.getItem("#ddProveedores"));
        }

        $('#ddProveedores').select2({
            theme: "bootstrap4",
            language: "es",
        })

        $('#ddOrdenes').select2({
            theme: "bootstrap4",
            language: "es",
        })


    });
</script>
}