@page
@model MASOG_OBRAS.Pages.Compras.Facturas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esta factura de compra?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.PuntoVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.PuntoVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.ProveedorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.Proveedor.RazonSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.TipoFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.TipoFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.FechaFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.FechaFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.FechaAlta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.FechaAlta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.OrdenId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.OrdenId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.Total)
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:C2}", Model.FacturaCompra.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaCompra.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaCompra.Observacion)
        </dd>
    </dl>

    @if (Model.MessageError != null)
    {
        <div class="alert alert-warning">
            @Model.MessageError
        </div>
    }

<form method="post">
    <input type="hidden" asp-for="FacturaCompra.Id" />
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a asp-page="./Details" asp-route-id="@Model.FacturaCompra.Id">Detalles</a> |
    <a asp-page="./Index">Volver a la lista</a>
</form>
</div>
