@page
@model MASOG_OBRAS.Pages.Compras.Facturas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas de Compra</h1>

<p>
    <a asp-page="Create" class= "btn btn-primary">Nueva Factura de Compra</a>
</p>

<!-- Campo de Búsqueda por Fecha -->

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar por Fecha de Factura:&nbsp;
            <input type="date" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Volver a la Lista Completa</a>
        </p>
    </div>
</form>

<div class=" row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturasCompra[0].PuntoVenta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturasCompra[0].Numero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturasCompra[0].ProveedorId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturasCompra[0].FechaFactura)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturasCompra[0].Total)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FacturasCompra)
                        {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.Id)

                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.PuntoVenta)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Proveedor.RazonSocial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFactura)
                            </td>
                            <td align="right">
                                @string.Format("{0:C2}", @item.Total)
                            </td>
                            <td></td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.FacturasCompra.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.FacturasCompra.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.FacturasCompra.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.FacturasCompra.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>
