@using static MASOG_OBRAS.Helpers.HtmlHelperExtensions;


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" asp-page="/Index">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">MASOG</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block" asp-page="/Index">Juan Perez</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

                <!-- Proveedores-->
                <li class="nav-item">
                    <a asp-page="/Proveedores/Proveedores/Index" class="nav-link @Html.ActiveClass("/Proveedores/Proveedores/Index")">
                        <i class="nav-icon fas fa-handshake"></i>
                        <p>
                            Proveedores
                        </p>
                    </a>
                </li>

                <!-- Compras -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cart-plus"></i>
                        <p>
                            Compras
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a asp-page="/Compras/Ordenes/Index" class="nav-link @Html.ActiveClass("/Compras/Ordenes/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Órdenes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Compras/Facturas/Index" class="nav-link @Html.ActiveClass("/Compras/Facturas/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Facturas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Compras/OrdenesPago/Index" class="nav-link @Html.ActiveClass("/Compras/OrdenesPago/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pagos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Inventarios -->
                <li class="nav-item has-treeview">
                    <!-- menu-open -->
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Inventarios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-page="/Inventarios/Productos/Index" class="nav-link @Html.ActiveClass("/Inventarios/Productos/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Productos</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-page="/Inventarios/Depositos/Index" class="nav-link @Html.ActiveClass("/Inventarios/Depositos/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Depósitos</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-page="/Inventarios/MovsStock/Index" class="nav-link @Html.ActiveClass("/Inventarios/MovsStock/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Movimientos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Clientes -->
                <li class="nav-item">
                    <a asp-page="/Clientes/Clientes/Index" class="nav-link @Html.ActiveClass("/Clientes/Clientes/Index")">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p> Clientes </p>
                    </a>
                </li>

                <!-- Proyectos -->
                <li class="nav-item">
                    <a asp-page="/Clientes/Proyectos/Index" class="nav-link @Html.ActiveClass("/Clientes/Proyectos/Index")">
                        <i class="nav-icon fas fa-hammer"></i>
                        <p> Proyectos </p>
                    </a>
                </li>

                <!-- Ventas -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cash-register"></i>
                        <p>
                            Ventas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-page="/Ventas/FacturasVenta/Index" class="nav-link @Html.ActiveClass("/Ventas/FacturasVenta/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Factura</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Ventas/Recibos/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Recibo</p>
                            </a>
                        </li>
                    </ul>
                <li />

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Reportes
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-page="/Reportes/Ingresos/Index" class="nav-link @Html.ActiveClass("/Reportes/Ingresos/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ingresos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Reportes/Gastos/Index" class="nav-link @Html.ActiveClass("/Reportes/Gastos/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Gastos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Reportes/RankingP/Index" class="nav-link @Html.ActiveClass("/Reportes/RankingP/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ranking Productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Reportes/Dashboard/Index" class="nav-link @Html.ActiveClass("/Reportes/Dashboard/Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
