@page
@model MASOG_OBRAS.Pages.Compras.Ordenes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nueva orden</h1>
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Seleccione proveedor</label>
                <select disabled="@Model.HasProveedor" asp-for="ProveedorId" class="form-control" asp-items="@ViewData["ProveedorId"] as SelectList"></select>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrdenItem.ProductoId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrdenItem.Cantidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrdenItem.Precio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrdenItem.Observacion)
                        </th>
                    </tr>
                    @foreach (var item in Model.OrdenItems)
                    {
                        <tr>
                            <th>
                                @item.ProductoId
                            </th>
                            <th>
                                @item.Cantidad
                            </th>
                            <th>
                                @item.Precio
                            </th>
                            <th>
                                @item.Observacion
                            </th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (Model.HasProduct)
                    {
                        <tr>
                            <th>
                                <div class="form-group">
                                    <select asp-for="OrdenItem.ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="OrdenItem.Cantidad" class="form-control" />
                                    <span asp-validation-for="OrdenItem.Cantidad" class="text-danger"></span>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="OrdenItem.Precio" class="form-control" />
                                    <span asp-validation-for="OrdenItem.Precio" class="text-danger"></span>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <input asp-for="OrdenItem.Observacion" class="form-control" />
                                    <span asp-validation-for="OrdenItem.Observacion" class="text-danger"></span>
                                </div>
                            </th>
                            <th>
                                <input type="submit" value="Agregar" class="btn btn-primary" asp-page-handler="AddItem" />
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <form method="post">
            <div class="form-group">
                <label asp-for="Orden.Fecha" class="control-label"></label>
                <input asp-for="Orden.Fecha" class="form-control" />
                <span asp-validation-for="Orden.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orden.FechaEntrega" class="control-label"></label>
                <input asp-for="Orden.FechaEntrega" class="form-control" />
                <span asp-validation-for="Orden.FechaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orden.Observacion" class="control-label"></label>
                <input asp-for="Orden.Observacion" class="form-control" />
                <span asp-validation-for="Orden.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" asp-page-handler="SaveOrder" />
            </div>
            @if (Model.MessageError != null)
            {
            <div class="alert alert-warning" role="alert">@Model.MessageError</div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
