@page
@model MASOG_OBRAS.Pages.Ventas.FacturasVenta.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <h2>Nueva Factura Venta</h2>
                <div class="row">
                    <div class="form-group col-5">
                        <label for="dataCliente" class="control-label">Seleccione Un Cliente</label>
                        <select id="dataCliente" class="form-control" disabled="@Model.HasProyecto" asp-for="ClienteId" asp-items="@ViewData["ClienteId"] as SelectList">
                            <option value="" selected disabled hidden></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.PuntoVenta" class="control-label"></label>
                        <input asp-for="FacturaVenta.PuntoVenta" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.PuntoVenta" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.Numero" class="control-label"></label>
                        <input asp-for="FacturaVenta.Numero" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.Numero" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.TipoFactura" class="control-label"></label>
                        <input asp-for="FacturaVenta.TipoFactura" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.TipoFactura" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.Fecha" class="control-label"></label>
                        <input asp-for="FacturaVenta.Fecha" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.Fecha" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-9">
                        <label asp-for="FacturaVenta.Observacion" class="control-label">Observacion</label>
                        <input asp-for="FacturaVenta.Observacion" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.Observacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirmar Cliente" class="btn btn-primary" asp-page-handler="Cliente" />
                </div>
                @if (Model.MessageError != null)
                {
                    <div class="alert alert-warning">
                        @Model.MessageError
                    </div>
                }
            </form>

            @if (Model.HasCliente && !Model.HasProyecto)
            {
                <div class="alert alert-warning">
                    No hay proyectos pendientes para este cliente.
                </div>
            }

            @if (Model.HasProyecto)
            {
                <form method="post" class="mb-4">
                    <h2>Proyectos</h2>
                    <div class="row">
                        <div class="form-group col-4">
                            <select id="dataProyecto" asp-for="ProyectoId" class="form-control" asp-items="@ViewData["ProyectoId"] as SelectList" disabled="@Model.HasProyectoSelected">
                                <option value="" selected disabled hidden></option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <input type="submit" value="Seleccionar Proyecto" class="btn btn-primary" asp-page-handler="Proyecto" disabled="@Model.HasProyectoSelected" />
                        </div>
                    </div>
                </form>
            }

        </div>
    </div>
    <!-- Detalle de Factura Venta-->
    @if (Model.HasProductList)
    {
        <form method="post" class="mb-4">
            <h2> Lista de Productos Incluidos en la Factura</h2>
            <div class="row">
                <div class="form-group col-4">
                    <select id="dataProducto" asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                </div>
                <div class="form-group col-4">
                    <input type="submit" value="Seleccionar Producto" class="btn btn-primary align-self-end" asp-page-handler="Product" />
                </div>
            </div>
        </form>
    }
    @if (Model.HasProduct)
    {
        <div class="row">
            <div class="col-12">
                <form method="post" class="mb-4">
                    <div class="form-group">
                        <h3>Producto</h3>
                        <input asp-for="FacturaVentaItem.ProductoId" class="form-control" hidden />
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label asp-for="Producto.Id" class="control-label">Descripción</label>
                                        <input asp-for="Producto.Id" class="form-control" disabled />
                                    </td>
                                    <td>
                                        <label asp-for="Producto.Descripcion" class="control-label">Descripción</label>
                                        <input asp-for="Producto.Descripcion" class="form-control" disabled />
                                    </td>
                                    <td>
                                        <label asp-for="FacturaVentaItem.Cantidad" class="control-label">Cantidad</label>
                                        <input asp-for="FacturaVentaItem.Cantidad" class="form-control" />
                                        <span asp-validation-for="FacturaVentaItem.Cantidad" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <label asp-for="FacturaVentaItem.Precio" class="control-label">Precio</label>
                                        <input asp-for="FacturaVentaItem.Precio" class="form-control" />
                                        <span asp-validation-for="FacturaVentaItem.Precio" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <label asp-for="FacturaVentaItem.Observacion" class="control-label">Observación</label>
                                        <input asp-for="FacturaVentaItem.Observacion" class="form-control" />
                                        <span asp-validation-for="FacturaVentaItem.Observacion" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <p style="font-size:66.7%;"> - </p>
                                        <input type="submit" value="Agregar Producto" class="btn btn-primary" asp-page-handler="AddItem" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-4">
                <div class="form-group">
                    @if (Model.HasFacturaItems)
                    {
                        <h2>Productos de la orden</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FacturaVentaItem.ProductoId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FacturaVentaItem.Cantidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FacturaVentaItem.Precio)
                                    </th>
                                    <th></th>
                                    <th>
                                        Observación
                                    </th>
                                    <th>
                                        Eliminar
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.FacturaVentaItems)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @item.ProductoId
                                        </td>
                                        <td>
                                            @item.Cantidad
                                        </td>
                                        <td align="right">
                                            @string.Format("{0:C2}", item.Precio)
                                        </td>
                                        <td></td>
                                        <td>
                                            @item.Observacion
                                        </td>
                                        <td>
                                            <input type="submit" value="Eliminar" class="btn btn-danger" asp-page-handler="RemoveItem" asp-route-id="@item.ProductoId" />
                                        </td>
                                    </tr>
                                </tbody>
                            }
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td align="right">
                                        TOTAL:&nbsp;&nbsp; @string.Format("{0:C2}", Model.Total) &nbsp;
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </form>
        </div>
    </div>
    @if (Model.HasFacturaItems)
    {
        <div class="row">
            <form method="post">
                <div class="row">
                    <div class="col-3">
                        @if (Model.MessageError != null)
                        {
                            <div class="alert alert-warning" role="alert">
                                @Model.MessageError
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <a asp-page="Index" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" asp-page-handler="SaveFacturaVenta" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        //$('#dataProyecto').on('change', function () {
        //    // Save value in localstorage
        //    localStorage.setItem("#dataProyecto", $(this).val());
        //});
        //$('#dataCliente').on('change', function () {
        //    // Save value in localstorage
        //    localStorage.setItem("#dataCliente", $(this).val());
        //});

        $(document).ready(function () {
            //Guardar datos despues del refresco de Proyecto
            //if ($('#dataProyecto').length) {
            //    $('#dataProyecto').val(localStorage.getItem("#dataProyecto"));
            //}
            //console.log($('#dataProveedor').val());

            //Guardar datos despues del refresco de Cliente
            //if ($('#dataCliente').length) {
            //    $('#dataCliente').val(localStorage.getItem("#dataCliente"));
            //}
            //console.log($('#dataCliente').val());

            //agrega Select2 al dropdown Cliente
            $('#dataCliente').select2({
                theme: "bootstrap4",
                language: "es",
                placeholder: "Seleccione Cliente",
                // minimumInputLength: 2
            });

            //agrega Select2 al dropdown Proveedor
            $('#dataProyecto').select2({
                //theme: "classic",
                theme: "bootstrap4",
                language: "es",
                placeholder: "Seleccione Proyecto",
                // minimumInputLength: 2
            });

            //agrega Select2 al dropdown Producto
            $('#dataProducto').select2({
                theme: "bootstrap4",
                language: "es",
                // minimumInputLength: 2
            });

        });
    </script>
}
