@page
@model MASOG_OBRAS.Pages.Ventas.FacturasVenta.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-4">
                <h2>Nueva Factura de Venta</h2>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.Fecha" class="control-label"></label>
                        <input asp-for="FacturaVenta.Fecha" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.PuntoVenta" class="control-label"></label>
                        <input asp-for="FacturaVenta.PuntoVenta" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.PuntoVenta" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="FacturaVenta.TipoFactura" class="control-label">Tipo Factura</label>
                        <input asp-for="FacturaVenta.TipoFactura" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.TipoFactura" class="text-danger"></span>
                    </div>
                    <div class="form-group col-8">
                        <label asp-for="FacturaVenta.Observacion" class="control-label">Observacion(*)</label>
                        <input asp-for="FacturaVenta.Observacion" class="form-control" disabled="@Model.HasProyecto" />
                        <span asp-validation-for="FacturaVenta.Observacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="dataProyecto" class="control-label">Seleccione Un Proyecto</label>
                        <select id="dataProyecto" class="form-control" disabled="@Model.HasProyecto" asp-for="ProyectoId" asp-items="@ViewData["ProyectoId"] as SelectList"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <input type="submit" class="btn btn-primary" asp-page-handler="Header" value="Confirmar" disabled="@Model.HasProyecto" />
                    </div>
                </div>
                <div class="row mt-2">
                    @if (Model.MessageError != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @Model.MessageError
                        </div>
                    }
                </div>
            </form>
            @if (Model.HasProyecto)
            {
                @if (Model.HasProductList)
                {
                    <form method="post" class="mb-4">
                        <h2> Lista de Productos</h2>
                        <div class="row">
                            <div class="form-group col-4">
                                <select id="dataProducto" asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                            </div>
                            <div class="form-group col-4">
                                <input type="submit" value="Seleccionar Producto" class="btn btn-primary align-self-end" asp-page-handler="Product" />
                            </div>
                        </div>
                    </form>
                    @if (Model.HasProduct)
                    {
                        <div class="row">
                            <div class="col-12">
                                <form method="post" class="mb-4">
                                    <div class="form-group">
                                        <h3>Producto</h3>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label asp-for="Producto.Id" class="control-label">Descripción</label>
                                                        <input asp-for="Producto.Id" class="form-control" disabled />
                                                    </td>
                                                    <td>
                                                        <label asp-for="Producto.Descripcion" class="control-label">Descripción</label>
                                                        <input asp-for="Producto.Descripcion" class="form-control" disabled />
                                                    </td>
                                                    <td>
                                                        <label asp-for="FacturaVentaItem.Cantidad" class="control-label">Cantidad</label>
                                                        <input asp-for="FacturaVentaItem.Cantidad" class="form-control" />
                                                        <span asp-validation-for="FacturaVentaItem.Cantidad" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <label asp-for="FacturaVentaItem.Precio" class="control-label">Precio</label>
                                                        <input asp-for="FacturaVentaItem.Precio" class="form-control" />
                                                        <span asp-validation-for="FacturaVentaItem.Precio" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <label asp-for="FacturaVentaItem.Observacion" class="control-label">Observación(*)</label>
                                                        <input asp-for="FacturaVentaItem.Observacion" class="form-control" />
                                                        <span asp-validation-for="FacturaVentaItem.Observacion" class="text-danger"></span>
                                                    </td>
                                                    <td>
                                                        <p style="font-size:66.7%;"> - </p>
                                                        <input asp-for="FacturaVentaItem.ProductoId" class="form-control" hidden />
                                                        <input type="submit" value="Agregar Producto" class="btn btn-primary" asp-page-handler="AddItem" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-12">
                        <form method="post" class="mb-4">
                            <div class="form-group">
                                @if (Model.HasFacturaItems)
                                {
                                    <h2>Productos de la orden</h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FacturaVentaItem.ProductoId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FacturaVentaItem.Cantidad)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FacturaVentaItem.Precio)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FacturaVentaItem.Subtotal)
                                                </th>
                                                <th></th>
                                                <th>
                                                    Observación
                                                </th>
                                                <th>
                                                    Eliminar producto
                                                </th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.L_FacturaVentaItems)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        @item.ProductoId
                                                    </td>
                                                    <td>
                                                        @item.Cantidad
                                                    </td>
                                                    <td align="right">
                                                        @string.Format("{0:C2}", item.Precio)
                                                    </td>
                                                    <td align="right">
                                                        @string.Format("{0:C2}", item.Subtotal)
                                                    </td>
                                                    <td></td>
                                                    <td>
                                                        @item.Observacion
                                                    </td>
                                                    <td>
                                                        <input type="submit" value="Eliminar" class="btn btn-danger" asp-page-handler="RemoveItem" asp-route-id="@item.ProductoId" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    </table>
                                }
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <form method="post">
                        <div class="row">
                            <div class="col-3">
                                @if (Model.MessageError != null)
                                {
                                    <div class="alert alert-warning" role="alert">
                                        @Model.MessageError
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <a asp-page="Index" class="btn btn-danger">Cancelar</a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" asp-page-handler="SaveOrder" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $('#dataProyecto').on('change', function () {
            // Save value in localstorage
            localStorage.setItem("#dataProyecto", $(this).val());
        });

        $(document).ready(function () {
            //Guardar datos despues del refresco
            if ($('#dataProyecto').length) {
                $('#dataProyecto').val(localStorage.getItem("#dataProyecto"));
            }
            console.log($('#datadataProyecto').val())

            //agrega Select2 al dropdown Proveedor
            $('#dataProyecto').select2({
                //theme: "classic",
                theme: "bootstrap4",
                language: "es",
                // minimumInputLength: 2
            });

            //agrega Select2 al dropdown Producto
            $('#dataProducto').select2({
                theme: "bootstrap4",
                language: "es",
                // minimumInputLength: 2
            });

        });
    </script>
}
