@page
@model MASOG_OBRAS.Pages.Ventas.FacturasVenta.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esta factura de venta?</h3>
<div>
    <h4>Factura de Venta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.PuntoVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.PuntoVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.TipoFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.TipoFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.Observacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.PendienteCobrar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.PendienteCobrar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FacturaVenta.Proyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FacturaVenta.Proyecto.Direccion)
        </dd>
    </dl>

    @if (Model.MessageError != null)
    {
        <div class="alert alert-warning">
            @Model.MessageError
        </div>
    }

    <form method="post">
        <input type="hidden" asp-for="FacturaVenta.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Details" asp-route-id="@Model.FacturaVenta.Id">Detalles</a> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
