@page
@model MASOG_OBRAS.Pages.Ventas.FacturasVenta.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas Venta</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Nueva Factura Venta</a>
</p>

<!-- Campo de Búsqueda por Fecha -->

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar por Fecha:&nbsp;
            <input type="date" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-page="./Index">Volver a la Lista Completa</a>
        </p>
    </div>
</form>

<div class=" row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].PuntoVenta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].TipoFactura)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Numero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Total)
                            </th>
                            <th>
                                Pendiente de cobrar
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Cliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Proyecto)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FacturaVenta)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PuntoVenta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoFactura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Numero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td align="right">
                                    @string.Format("{0:C2}", @item.Total)
                                </td>
                                <td align="right">
                                    @string.Format("{0:C2}", @item.PendienteCobrar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proyecto.Direccion)
                                </td>
                                <td>
                                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.FacturaVenta.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.FacturaVenta.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.FacturaVenta.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.FacturaVenta.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>
