@page
@model MASOG_OBRAS.Pages.Ventas.FacturasVenta.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas de Ventas</h1>

<p>
    <a asp-page="Create" class= "btn btn-primary">Nueva Factura Venta</a>
</p>

<div class=" row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].PuntoVenta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Proyecto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].TipoFactura)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Observacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FacturaVenta[0].Total)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FacturaVenta)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PuntoVenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Proyecto.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoFactura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Observacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => string.Format("{0:C2}", item.Total))
                            </td>
                            <td>
                                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>