@page
@model MASOG_OBRAS.Pages.Compras.OrdenesPago.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <h2>Nueva Orden de Pago</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrdenPago.ProveedorId" class="control-label"></label>
                    <select id="ddProveedores" asp-for="OrdenPago.ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId" disabled="@Model.HasProveedor"></select>
                </div>
                <div class="form-group">
                    <label asp-for="OrdenPago.FechaEmision" class="control-label"></label>
                    <input asp-for="OrdenPago.FechaEmision" class="form-control" disabled="@Model.HasProveedor" />
                    <span asp-validation-for="OrdenPago.FechaEmision" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrdenPago.ConceptoPagoId" class="control-label"></label>
                    <select asp-for="OrdenPago.ConceptoPagoId" class="form-control" asp-items="ViewBag.ConceptoPagoId" disabled="@Model.HasProveedor"></select>
                </div>
                <div class="form-group">
                    <label asp-for="OrdenPago.Observacion" class="control-label"></label>
                    <input asp-for="OrdenPago.Observacion" class="form-control" disabled="@Model.HasProveedor" />
                    <span asp-validation-for="OrdenPago.Observacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Confirmar" class="btn btn-primary" asp-page-handler="Proveedor" />
                </div>
                @if (Model.MessageError != null)
                {
                    <div class="alert alert-warning">
                        @Model.MessageError
                    </div>
                }
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" class="mb-4">
                <div class="form-group">
                    @if (Model.HasFacturas)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Importe
                                    </th>
                                    <th>
                                        Seleccionar
                                    </th>
                                </tr>
                            </thead>
                            @for (int i = 0; i < Model.FacturaItems.Count; i++)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @Model.FacturaItems[i].Id
                                        </td>
                                        <td>
                                            @Model.FacturaItems[i].FechaFactura
                                        </td>
                                        <td>
                                            @string.Format("{0:C2}", Model.FacturaItems[i].Total) &nbsp;
                                        </td>
                                        <td>
                                            <div class="form-group form-check">
                                                <input class="form-check-input" asp-for="@Model.FacturaItems[i].IsSelected" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    }
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <a asp-page="Index" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
                    @if (Model.HasFacturas)
                    {
                        <div class="col-3">
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" asp-page-handler="SaveOrden" />
                            </div>
                        </div>
                    }
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    $('#ddProveedores').on('change', function () {
        // Save value in localstorage
        localStorage.setItem("#ddProveedores", $(this).val());
    });

    $(document).ready(function () {
        //Guardar datos despues del refresco
        if ($('#ddProveedores').length) {
            $('#ddProveedores').val(localStorage.getItem("#ddProveedores"));
        }

        $('#ddProveedores').select2({
            theme: "bootstrap4",
            language: "es",
        })

    });
</script>
}