@page
@model MASOG_OBRAS.Pages.Compras.OrdenesPago.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que quieres eliminar esta Orden de Pago?</h3>
<div>
    <h4>OrdenPago</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdenPago.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPago.FechaEmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdenPago.FechaEmision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPago.Observacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdenPago.Observacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPago.Total)
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0:C2}", Model.OrdenPago.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPago.Proveedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdenPago.Proveedor.RazonSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenPago.ConceptoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdenPago.ConceptoPago.Descripcion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrdenPago.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Details" asp-route-id="@Model.OrdenPago.Id">Detalles</a> |
        <a asp-page="./Index">Regresar a la Lista</a>
        @if (Model.MessageError != null)
        {
            <div class="alert alert-warning">
                @Model.MessageError
            </div>
        }
    </form>
</div>
